.p-menuitem-link {
  box-shadow: unset !important;
}
.p-button {
  background-color: #061e38;
  border: unset;
}
.p-button .p-button-label {
  display: none;
}
.p-button .p-button-icon-left {
  margin-right: unset;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #061e38;
}
.p-filter-column .p-multiselect,
.p-filter-column .p-dropdown,
.p-filter-column .p-inputtext {
  width: 100% !important;
}
